@mixin headings($size:1.625em) {
 font-size:$size;
}
@mixin slide_text($size:1.188em) {
 font-size:$size;
}
@mixin cyan($clr:#34D1C6) {
 color:$clr;
}
@mixin dark_gray($clr:#7E7774) {
 color:$clr;
}
@mixin white($clr:#FFFFFF) {
 color:$clr;
}
@mixin softred($clr:#DF5C52) {
 color:$clr;
}
